[tools]
node = "22"
pnpm = "9"

[tasks.pnpm-install]
description = 'Installs and verify if all dependencies are fulfilled'
run = 'pnpm install --config.confirmModulesPurge=false'
sources = ['package.json', 'pnpm-lock.yaml', 'mise.toml']
outputs = ['node_modules/.pnpm/lock.yaml']

[tasks.dev]
depends = [":pnpm-install"]
description = 'start development server'
run = "pnpm run dev"

[tasks.test]
depends = [":pnpm-install"]
description = 'run unit tests'
run = "pnpm test"

[tasks.lint]
depends = [":pnpm-install"]
description = 'lint code with ESLint'
run = "pnpm run lint"

[tasks.lint-fix]
depends = [":pnpm-install"]
description = 'lint and fix code issues'
run = "pnpm run lint:fix"

[tasks.fmt]
depends = [":pnpm-install"]
description = 'format code with Prettier'
run = "pnpm run fmt"

[tasks.build]
depends = [":pnpm-install"]
description = 'build for production'
run = "pnpm run build"